body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f3f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-section {
  margin: 5rem auto;
  width: 90vw;
  max-width: 1000px;
  display: grid;
  gap: 2em;
  align-items: start;
}

.author {
  color: lightseagreen;
}

.book-component {
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.book-name {
  margin-top: 1rem;
}

@media screen and (min-width: 767px) {
  .book-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book-button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(90, 165, 90);
  color: rgb(18, 156, 18);
  outline: none;
  background-color: rgb(211, 248, 211);
  border-radius: 0.5rem;
}
